* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 100vh;
  background-image: url(img/Image1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
}

.header__heading {
  background-color: black;
  color: #fff;
  font-weight: lighter;
  font-size: x-large;
  letter-spacing: .5rem;
  padding: 1rem;
  position: absolute;
  top: 45vh;
  left: 36vw;
}

.section__box1 {
  background-color: #F4F4F4;
  color: #000;
  text-align: center;
  margin-top: -.05rem;
  padding: 4rem;
  opacity: .7;
}

.section2 {
  height: 100vh;
  background-image: url(img/Image2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
}

.section__heading2 {
  color: #fff;
  font-weight: lighter;
  font-size: x-large;
  letter-spacing: .5rem;
  padding: 1rem;
  position: absolute;
  top: 170vh;
  left: 38vw;
}

.section__box2 {
  background-color: #000;
  color: white;
  text-align: center;
  margin-top: -.25rem;
  padding: 4rem;
  opacity: 1;
  position: relative;
  top: 60vh;
}

.section3 {
  height: 100vh;
  background-image: url(img/Image3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
}

.section__heading3 {
  color: #fff;
  font-weight: lighter;
  font-size: x-large;
  letter-spacing: .5rem;
  padding: 1rem;
  position: absolute;
  top: 270vh;
  left: 37vw;
}

.section__box3 {
  background-color: #000;
  color: white;
  text-align: center;
  margin-top: -.25rem;
  padding: 4rem;
  opacity: 1;
  position: relative;
  top: 60vh;
}

.section__box--text1, .section__box--text2, .section__box--text3 {
  margin-top: 1rem;
  line-height: 1.8rem;
}

.footer {
  height: 100vh;
  background-image: url(img/Image1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
}

.footer__heading {
  background-color: black;
  color: #fff;
  font-weight: lighter;
  font-size: x-large;
  letter-spacing: .5rem;
  padding: 1rem;
  position: absolute;
  top: 390vh;
  left: 30vw;
}
