* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-image: url(img/Image1.jpg);
}

.header__heading {
  background-color: black;
  color: #fff;
  font-weight: lighter;
  font-size: x-large;
  letter-spacing: .5rem;
  padding: 1rem;
  position: absolute;
  top: 45vh;
  left: 36vw;
  opacity: .7;
}

.section2 {
  background-image: url(img/Image2.jpg);
}

.section3 {
  background-image: url(img/Image3.jpg);
}

.section__box1 {
  background-color: #F4F4F4;
  color: #000;
  text-align: center;
  margin-top: -.25rem;
  padding: 4rem;
  opacity: .7;
}

.section__heading {
  color: #fff;
  font-weight: lighter;
  font-size: x-large;
  letter-spacing: .5rem;
  padding: 1rem;
  position: absolute;
  top: 45vh;
  left: 36vw;
}

.section__box {
  background-color: #000;
  color: white;
  text-align: center;
  margin-top: -.25rem;
  padding: 4rem;
  opacity: .8;
}

.section__box--text {
  margin-top: 1rem;
  line-height: 1.8rem;
}

.footer {

}

.footer__heading {
  background-color: black;
  color: #fff;
  font-weight: lighter;
  font-size: x-large;
  letter-spacing: .5rem;
  padding: 1rem;
}
